{% extends 'recipes/base.html' %} 

{% block content %}
<div class="container" style="background-color: #f2f2f2;">
  <h1 style="font-size: 36px; font-weight: bold;">About App</h1>
  
  <p style="font-size: 18px;">Welcome to Recipes Realm, your ultimate destination for culinary inspiration! Whether you're a seasoned chef or a novice cook, we're here to help you discover delicious recipes, master cooking techniques, and explore the wonderful world of food.</p>
  
  <h2 style="font-size: 24px; font-weight: bold;">Our Mission</h2>
  
  <p style="font-size: 18px;">At Recipes Realm, our mission is to make cooking enjoyable, accessible, and rewarding for everyone. We believe that cooking should be a creative and fulfilling experience, and we're committed to providing you with the tools and resources you need to succeed in the kitchen.</p>
  
  <h2 style="font-size: 24px; font-weight: bold;">What We Offer</h2>
  
  <p style="font-size: 18px;">On our website, you'll find a vast collection of recipes ranging from quick and easy meals to gourmet delights. Whether you're craving comfort food, healthy options, or international cuisines, we've got you covered. Our recipes are carefully curated, tested, and presented with detailed instructions and beautiful imagery to ensure your cooking experience is a success every time.</p>
  
  <h2 style="font-size: 24px; font-weight: bold;">Get Involved</h2>
  
  <p style="font-size: 18px;">We love hearing from our community! If you have any questions, feedback, or recipe requests, don't hesitate to reach out to us. You can also join the conversation on our social media channels to share your culinary creations, tips, and tricks with fellow food enthusiasts.</p>
  
  <h2 style="font-size: 24px; font-weight: bold;">Happy Cooking!</h2>
  
  <p style="font-size: 18px;">Thank you for choosing our App as your trusted cooking companion. We hope our website inspires you to get creative in the kitchen and enjoy the wonderful flavors of homemade meals. Happy cooking!</p>
</div>
{% endblock content %}
