{% extends "recipes/base.html" %}

{% block content %}
<h1 class="mb-4">Recipes:</h1>

{% for recipe in recipes %}
<div class="card my-4">
  <div class="card-body">
    <h5 class="card-title">{{ recipe.title }}</h5>
    <h6 class="card-subtitle mb-3 text-muted">{{ recipe.author }}</h6>
    <p class="card-text" style="font-family: 'Arial', sans-serif;"><strong>{{ recipe.description }}</strong></p>
      <div class="d-flex justify-content-between align-items-center mt-3">
      <small class="text-muted">{{ recipe.updated_at|date:"F d, Y" }}</small>
      <a href="{% url 'recipes-detail' recipe.pk %}" class="btn btn-primary">View Recipe</a>
    </div>
  </div>
</div>
{% endfor %}

<style>
  .card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
  }

  .card-subtitle {
    font-size: 1.2rem;
    color: #666;
  }

  .card-text {
    color: #444;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
</style>

{% endblock content %}
