{% extends "recipes/base.html" %}

{% block content %}
<style>
  body {
    background: #f46b45;  
    background: -webkit-linear-gradient(to right, #eea849, #f46b45); 
    background: linear-gradient(to right, #eea849, #f46b45); 
    
    color: #333; 
  }

  .card {
    width: 80%; 
    max-width: 800px; 
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  h1, h2 {
    color: #ff5252; 
    text-align: center;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
  }

  ul, ol {
    padding-left: 20px;
    color: #666;
  }

  li {
    margin-bottom: 10px;
  }

  .card p strong {
    font-weight: bold;
  }

  .card ul strong,
  .card ol strong {
    font-weight: bold;
  }
</style>

<div class="card">
  <h1>Welcome, {{ user.username }}</h1>
  <p><strong>This is your profile page. Here, you can view and edit your profile information.</strong></p>
  <p><strong>Email:</strong> {{ user.email }}</p>

  <h2>About Me</h2>
  <p><strong>I am a passionate cook who loves experimenting with new recipes and flavors. Cooking has always been a therapeutic activity for me, and I enjoy spending hours in the kitchen creating delicious meals for my family and friends.</strong></p>
  
  <h2>My Interests</h2>
  <ul>
    <li><strong>Traveling:</strong> Exploring new destinations and experiencing different cultures.</li>
    <li><strong>Reading:</strong> Getting lost in a good book is one of my favorite pastimes.</li>
    <li><strong>Hiking:</strong> I love spending time outdoors, especially hiking through scenic trails and mountains.</li>
  </ul>

  <h2>My Favorite Recipes</h2>
  <p><strong>Here are a few of my favorite recipes that I love to cook:</strong></p>
  <ol>
    <li><strong>Chole Bhature</strong></li>
    <li><strong>Pastry</strong></li>
    <li><strong>Chole Kulche</strong></li>
    <li><strong>Chocolate Chip Cookies</strong></li>
  </ol>
</div>
{% endblock content %}
